.vscode/**
.vscode-test/**
.claude/**
out/**
node_modules/**
src/**
.gitignore
.gitattributes
.yarnrc
.DS_Store
**/.DS_Store
esbuild.js
vsc-extension-quickstart.md
CLAUDE.md
**/tsconfig.json
tsconfig.mcp.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
media/*.svg
*.vsix
tmp/**
